* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Times New Roman", Times, serif;
}

canvas {
  display: block;
}

#controls {
  z-index: 2;
  margin: 20px;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
}

#face {
  height: 150px;
  width: 1490px;
  background: rgba(0, 0, 0, 0.541);
}

img {
  position: absolute;
}

ul>li {
  float: left;
  list-style-type: none;
  margin: 0px 20px;
}

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

ul {
  margin-top: 20px;
  margin-left: 600px;
}

ul>li>a {
  text-decoration: none;
  color: rgb(204, 204, 204);
  display: table-cell;
  text-align: center;
  height: 20px;
  width: 100px;
}

#first {
  color: white;
}

a:hover {
  color: white;
}

i {
  display: inline-block;
  transition: 0.25s all;
}

ol>li {
  list-style-type: none;
}

ol>Li>A {
  height: 30px;
  /* border: solid; */
  padding: 2px 20px;
  margin-left: -5px;
  height: 20px;
  padding-top: 10px;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  color: rgb(204, 204, 204);
  background: rgba(255, 255, 255, 0.123);
  line-height: 12px;
}

ol {
  transition: 0.5s all;
  height: 0px;
  overflow: hidden;
}

ol>Li>A:hover {
  background: rgba(255, 255, 255, 0.568);
}

#buobao {
  height: 500px;
  width: 902%;
  overflow: hidden;
}

.hend {
  color: black;
  position: relative;
  top: 90px;
  left: 100px;
  width: 1300px;
}

h2 {
  position: relative;
  left: -50px;
}

hr {
  width: 95%;
  float: right;
  position: relative;
  bottom: 15px;
  right: 20px;
}

.hend>span {
  display: block;
  background: rgb(0, 119, 204);
  height: 25px;
  width: 10px;
  position: relative;
  top: 28px;
  left: -65px;
}

.hend>pre {
  line-height: 35px;
  letter-spacing: 1px;
  font-size: 15px;
}

/* gundong */
body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;

}

.swiper-container {
  width: 1280px !important;
  height: 500px;
  position: absolute;
  top: 50px;
  left: 0px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  align-items: center;

}

/*  */
/* 展示栏 */
.box1,
.box2 {
  height: 504px;
  width: 755px;
  box-sizing: border-box;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.box1 {
  position: absolute;
  top: 1080px;
  left: 8px;
  overflow: hidden;
}

.box2 {
  position: absolute;
  top: 1080px;
  right: 8px;
  overflow: hidden;
}

.box3,
.box4 {
  height: 500px;
  width: 1472px;
  background-color: rgb(0, 255, 195);
  display: table-cell;
  overflow: hidden;
}

.box3 {
  background: url(../主页素材/图片/左2.jpg) no-repeat;
}

.box4 {
  background: url(../主页素材/图片/右.jpg) no-repeat;
}

.box5 {
  height: 300px;
  width: 200px;
  display: table-cell;
  position: relative;
  left: 0px;
  top: 120px;
  overflow: hidden;
  background-color: orangered;
  /* box-shadow: 5px 8px 3px #88888879 */
}

.box5:hover {
  position: relative;
  top: 110px;
}

.box5>A {
  width: 300px;
  height: 300px;
  display: table-cell;
  text-decoration: none;
  color: white;
}

#box51,
#box515 {
  z-index: 1;
  position: relative;
  left: 100px;
  background: rgb(8, 235, 0);
  transition: 0.4s all;
}

#box52,
#box524 {
  z-index: 2;
  position: relative;
  left: 50px;
  background: rgb(0, 225, 255);
  transition: 0.4s all;
}

#box53,
#box533 {
  z-index: 3;
  position: relative;
  left: 0px;
  background: rgb(172, 218, 6);
  transition: 0.4s all;
}

#box54,
#box542 {
  position: relative;
  left: -50px;
  z-index: 4;
  transition: 0.4s all;
}

#box55,
#box551 {
  background: rgb(30, 18, 199);
  transition: 0.4s all;
  position: relative;
  left: 150px;
  z-index: 0;
  /* display: none; */
}

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

#box551,
#box524,
#box515 {
  height: 300px;
  width: 400px;
  position: relative;

}

#box551 {
  position: relative;
  left: 80px !important;
}

#box515 {
  position: relative;
  left: 0px;
}

#box524 {
  position: relative;
  left: -70px;
}

/* 展示栏文字部分 */
#box3>P {
  color: #003371;
  font-size: 45px;
  position: relative;
  left: 435px;
  top: 20px;
  font-family: "锐字工房洪荒之力黑简1.0";
  transition: 0.5s all;
}

#box4>p {
  position: relative;
  font-family: "锐字工房洪荒之力黑简1.0";
  top: 20px;
  left: 10px;
  color: rgb(171, 19, 19);
  font-size: 45px;
}

/* 展示栏结尾 */
#ahfter>p {
  margin-top: 25px;
  font-size: 10px;
  line-height: 0px;
}

#ahfter {
  text-align: center;
  border: wheat solid;
  position: relative;
  top: 750px;
  background: black;
  width: 100%;
  height: 100px;
}

#hrr {
  width: 40px;
  height: 3px;
  border: none;
  background: white;
  position: absolute;
  top: 50px;
  left: 650px;
}